.login {
   width: 100%;
   height: 100%;
   background-color: white;
   user-select: none;
}

.login img.bg {
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed;
}

.login .middle {
   width: 30%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.login .logo {
   margin: 10px 0;
}

.login form {
   width: 75%;
   background-color: #2A1F60;
   border-radius: 15px;
   margin-top: 150px;
   padding: 0 0 100px 0;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   opacity: 0.9;
   border: 1px solid white;
}

.login .hello {
   color: white;
   font-size: 30px;
   margin: 50px;
   margin-bottom: 20px;
   overflow: hidden;
}

.login .text,
.login .pass {
   margin: 20px;
}

.login .inptext,
.login .inppass {
   width: 300px !important;
}

/* .login .sbmt-holder {
   background-color: white;
} */

.login button {
   margin-top: 15px;
   padding : 5px;
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   outline: none;
   border: none;
   border-radius: 3px;
}

.login .sbmt {
   color: #2A1F60;
   font-weight: bold;
   font-size: 17px;
   border: 0 transparent none;
   display: block;
}

.login .icon {
   color: #2A1F60;
   display: block;
}