div.viewemployeedata {
   width: 100%;
   height: CALC(100% - 73px);
   background-color: white;
   user-select: none;
}

div.viewemployeedata>img.bg {
   width: 40%;
   position: fixed;
   bottom: 0;
   left: 0;
}

div.viewemployeedata>div.content {
   width: 100%;
   height: CALC(100% - 73px);
   background-color: white;
   display: flex;
   flex-flow: nowrap row;
   justify-content: space-between;
   align-items: flex-start;
}

div.viewemployeedata>div.content>div.frm {
   display: flex;
   flex-flow: nowrap row;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 125px 200px 0 0;
}

div.viewemployeedata>div.content>div.frm>div:nth-child(1) {
   border-left: 3px gray solid;
   padding-left: 15px;
}

div.viewemployeedata>div.content>div.frm>div:nth-child(2) {
   padding-right: 15px;
}

div.viewemployeedata>div.content>div.frm>div>label {
   font-size: 27px;
   float: right;
   color: #061E45;
}

div.viewemployeedata>div.content>div.frm input[type=text] {
   font-size: 30px;
   color: #061E45;
   border-bottom-color: #061E45;
}

div.viewemployeedata>div.content>div.frm .react-tabs>ul {
   display: flex;
}

div.viewemployeedata>div.content>div.frm .react-tabs>ul>li {
   display: flex;
}

div.viewemployeedata>div.content>div.frm .react-tabs>ul>li>img.tabicon {
   width: 18px;
   margin-right: 5px;
}

div.viewemployeedata>div.content>div.frm div.selectlist {
   margin-right: 0;
   grid-template-columns: 160px 160px;
}

div.viewemployeedata>div.content>div.frm .add {
   display: flex;
   flex-flow: nowrap column;
   justify-content: flex-start;
   align-items: flex-start;
}

div.viewemployeedata>div.content>div.frm .react-tabs>div:last-child div.selectlist {
   font-size: 10px;
   grid-template-columns: 160px 160px;
}

div.viewemployeedata>div.content>div.frm .react-tabs>div {
   width: 500px;
}

div.viewemployeedata>div.content>div.frm span.datachunck {
   font-size: 18px;
}

div.viewemployeedata>div.content>div.frm>div>input[type=button] {
   font-size: 25px;
   width: 200px;
}

div.viewemployeedata>div.content>div.btns {
   position: absolute;
   width: 250px;
   right: 0;
   margin-top: 30px;
   margin-right: 20px;
}

div.viewemployeedata>div.content>div.btns>.iconbutton>.btn {
   font-size: 23px;
}