.viewDate {
   width: unset;
   display: flex;
   flex: 1;
   padding-left: 0;
}

.choose {
   display: flex;
   width: min-content;
}

.date {
   width: 150px;
   text-align: center;
   text-indent: 0;
   padding-right: 0;
   padding-left: 0;
}

.cellCols {
   width: CALC(100% / 7);
}