.popup {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #000000AA;
   z-index: 10000000;
}

.content {
   width: CALC(32% - 60px);
   height: CALC(65% - 60px);
   border-radius: 50px;
   background-color: white;
   position: relative;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   padding: 30px;
}

.subHeader {
   color: gray;
   font-size: small;
   text-align: end;
   border-bottom: 3px gray solid;
}

.tasks {
   overflow-y: auto;
   max-height: 100px;
}

.noPlans {
   color: gray;
   font-size: small;
   text-align: center;
   padding: 10px 0 30px 0;
}

.title {
   width: 100%;
   text-indent: 10px;
   font-size: medium;
}

.frm {
   min-width: 100%;
   overflow-x: auto;
   margin-top: 20px;
   padding-bottom: 20px;
}

.lbl {
   width: 100px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

.listHeight {
   max-height: 405px;
   overflow-y: auto;
}

.btn {
   background-color: #2A1F60;
   border-color: #2A1F60;
}