.multiplebtn {
   display: flex;
   flex-flow: nowrap column;
   align-items: flex-start;
}

.multiplebtn>.selectlist {
   height: 0;
   padding: 0;
   overflow: hidden;
   transition: height 0.5s;
   margin-top: 10px;
   padding-top: 0;
   padding-right: 40px;
   display: grid;
   grid-template-columns: 150px 150px;
   gap: 0px;
}

.multiplebtn>button {
   cursor: pointer;
   padding: 5px 10px 5px 10px;
   font-size: 15px;
}

.multiplebtn>.selectlist>div {
   height: 50px;
}

.multiplebtn>.selectlist>div>input {
   cursor: pointer;
   width: 90%;
   font-size: 20px;
}