.multiplebtn {
   display: flex;
   flex-flow: nowrap column;
   align-items: flex-start;
}

.multiplebtn>ul.selectlist {
   height: 0;
   padding: 0;
   display: inline-block;
   list-style: none;
   overflow: hidden;
   transition: height 1s;
   margin-top: 10px;
   padding-top: 0;
   padding-right: 40px;
}

.multiplebtn>button {
   padding: 5px 10px 5px 10px;
   font-size: 15px;
}

.multiplebtn>ul>li>input {
   float: inline-start;
   font-size: 20px;
   margin: 5px 0;
}