.multiple {
   display: flex;
   flex-flow: nowrap column;
   align-items: flex-start;
}

.multiple>ul.selectlist {
   height: 0;
   transition: height 0.5s;
   list-style: none;
   overflow: hidden;
   margin-top: 10px;
   padding-top: 0;
   padding-right: 40px;
}

.multiple>button {
   cursor: pointer;
   padding: 5px 10px 5px 15px;
   font-size: 15px;
}

.multiple>ul>li {
   display: flex;
   flex-flow: nowrap row;
}

.multiple>ul>li>input {
   cursor: pointer;
}

.multiple>ul>li>span {
   cursor: pointer;
   font-size: 20px;
   padding-right: 10px;
}