.multiple {
   display: flex;
   flex-flow: nowrap column;
   align-items: flex-start;
}

.multiple>.selectlist {
   width: 100%;
   height: 0;
   transition: height 0.5s;
   list-style: none;
   overflow: hidden;
   margin-top: 10px;
   padding-top: 0;
   padding-right: 40px;
   display: grid;
   grid-template-columns: 175px 175px;
}

.multiple>button {
   cursor: pointer;
   padding: 5px 10px 5px 15px;
   font-size: 15px;
}

.multiple>.selectlist>div {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-flow: nowrap row;
}

.multiple>.selectlist>div>input {
   cursor: pointer;
}

.multiple>.selectlist>div>span {
   cursor: pointer;
   width: 100%;
   height: 25px;
   text-align: start;
   font-size: 20px;
   padding-right: 10px;
}