div.selectstudents {
   width: 100%;
   height: CALC(100% - 73px);
   display: flex;
   flex-flow: nowrap column;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
}

div.selectstudents>div.content {
   width: 100%;
   flex: 5;
   display: flex;
   flex-flow: nowrap row;
   justify-content: flex-start;
   align-items: center;
   background-color: white;
}

div.selectstudents>div.navigation {
   width: 100%;
   flex: 1;
   display: flex;
   flex-flow: nowrap row;
   justify-content: center;
   align-items: flex-start;
}

div.selectstudents>div.content>div.control {
   height: 100%;
   flex: 2.66;
   display: flex;
   flex-flow: nowrap column;
   justify-content: flex-start;
   align-items: flex-start;
}

div.selectstudents>div.content>div.control>.iconbutton {
   width: 265px;
   margin-top: 15px;
   margin-right: 10px;
}

div.selectstudents>div.content>div.control>.iconbutton>.btn {
   font-size: 20px;
   padding: 10px 5px;
}

div.selectstudents>div.content>div.control>.iconbutton>img {
   width: 35px;
   height: 35px;
   margin-right: -40px;
}

div.selectstudents>div.content>div.control>label {
   user-select: none;
   font-size: 25px;
   margin-top: 20px;
   margin-right: 10px;
   text-align: start;
}

div.selectstudents>div.content>div.control input.inptext {
   margin-top: 5px;
   margin-right: 10px;
   font-size: 22px;
   width: 265px;
   color: #36454f;
   border-color: #36454f;
}

div.selectstudents>div.content>div.control>.multiplebtn {
   margin-top: 10px;
   margin-right: 10px;
   max-height: 290px;
}

div.selectstudents>div.content>div.control>.multiplebtn .btn {
   width: 145px;
}

div.selectstudents>div.content>.show {
   width: 100%;
   height: 100%;
   flex: 9;
}

div.selectstudents>div.navigation>.btn {
   width: 120px;
   margin-top: 30px;
   font-size: 20px;
}

div.selectstudents>div.navigation>.enterEdits {
   width: 200px !important;
}

div.selectstudents>div.navigation>.previous {
   margin-inline-end: 10px;
   text-align: start;
}

div.selectstudents>div.navigation>.current {
   width: 75px;
   margin: 30px 10px 0 10px;
   text-align: center;
   transition: width 1s;
}

div.selectstudents>div.navigation>.next {
   margin-inline-start: 10px;
   text-align: end;
}

div.selectstudents>div.content>.show>.view {
   user-select: none;
   width: 80%;
   height: 95%;
   margin-top: 20px;
   margin-right: 50px;
   background-color: #555555;
   border: 3px #555555 solid;
   border-radius: 10px;
   overflow: hidden;
   display: flex;
   flex-flow: wrap row;
   justify-content: flex-start;
   padding-bottom: 3px;
}

div.selectstudents .tabletile.check {
   justify-content: center;
}

div.selectstudents .tabletile.check .inner {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

div.selectstudents .tabletile.check .inner input {
   scale: 2;
}

div.selectstudents>div.content>.show>.view {
   width: 90%;
}

div.selectstudents div.tabletile {
   width: CALC(CALC(CALC(100% - 106px) / 8) - 6px);
}

div.selectstudents div.tabletile:nth-child(9n+1) {
   width: 100px;
}

div.selectstudents div.tabletile:nth-last-child(4) {
   border-bottom-right-radius: 0;
}

div.selectstudents div.tabletile:nth-last-child(9) {
   border-bottom-right-radius: 5px;
}

div.selectstudents div.tabletile:last-child {
   border-bottom-left-radius: 5px;
}