div.addsupervisor {
   width: 100%;
   height: CALC(100% - 73px);
   background-color: white;
   user-select: none;
}

div.addsupervisor>img.bg {
   width: 40%;
   position: absolute;
   bottom: 0;
   left: 0;
}

div.addsupervisor>div.content {
   width: 100%;
   height: CALC(100% - 73px);
   background-color: white;
   display: flex;
   flex-flow: nowrap column;
   justify-content: flex-start;
   align-items: flex-start;
}

div.addsupervisor>div.content>form {
   border: 6px #061E45 solid;
   border-radius: 10px;
   overflow: scroll;
   scrollbar-width: none;
   margin: 50px 70px 0 0;
   padding: 10px 25px;
}

div.addsupervisor>div.content>form::-webkit-scrollbar {
   display: none;
}

div.addsupervisor>div.content>form>div.add {
   margin-top: 20px;
   display: flex;
   flex-flow: nowrap row;
   align-items: flex-start;
   justify-content: flex-start;
}

div.addsupervisor>div.content>form>div.add>label {
   font-size: 25px;
   float: right;
   color: #061E45;
}

div.addsupervisor>div.content>form>div.add>div.multiplebtn ul {
   margin-right: 0;
   padding-right: 0;
}

div.addsupervisor>div.content>form>div.add>div.multiplebtn {
   margin-right: 10px;
   margin-top: 4px;
}

div.addsupervisor>div.content>form>.btn {
   font-size: 25px;
   width: 200px;
}