div.text>input.inptext {
   cursor: text;
   background-color: transparent;
   border: 0 transparent none;
   border-bottom: 1px white solid;
   font-size: 20px;
   color: white;
   outline: none;
   display: inline;
}

div.text>input.inptext::placeholder {
   user-select: none;
}

div.text>img.imgtext {
   display: inline;
   height: 30px;
   position: absolute;
   margin-top: -4px;
   margin-right: -30px;
   border: 0 transparent none;
   border-bottom: 1px white solid;
}