div.pass>input.inppass {
   width: 350px;
   cursor: text;
   background-color: transparent;
   border: 0 transparent none;
   border-bottom: 1px white solid;
   font-size: 20px;
   color: white;
   outline: none;
   display: inline;
}

div.pass>img.imgpass {
   cursor: pointer;
   display: inline;
   height: 30px;
   position: absolute;
   margin-top: -4px;
   margin-right: -30px;
   border: 0 transparent none;
   border-bottom: 1px white solid;
}