span.datachunck {
   font-size: 25px;
   color: #061E45;
   display: flex;
   flex-flow: nowrap column;
   align-items: flex-start;
}

span.fdatachunck {
   flex-direction: row;
}

span.fdatachunck>img {
   cursor: pointer;
   height: 40px;
   border-radius: 10px;
   background-color: white;
   transition: filter 0.5s;
}

span.fdatachunck>span {
   margin-right: 20px;
}

span.fdatachunck>img:hover {
   filter: invert();
}

span.datachunck>label {
   margin-right: 100px;
}

span.datachunck div.multiple {
   margin-right: 100px;
}

span.datachunck div.multiplebtn {
   margin-right: 100px;
}