.App {
  width: 100%;
  height: 100vh;
  text-align: center;
}

a {
  color: unset !important;
  font-style: unset !important;
  text-decoration: unset !important;
}

.login {
   width: 100%;
   height: 100%;
   background-color: white;
   user-select: none;
}

.login img.bg {
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed;
}

.login .middle {
   width: 30%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.login .logo {
   margin: 10px 0;
}

.login form {
   width: 75%;
   background-color: #2A1F60;
   border-radius: 15px;
   margin-top: 150px;
   padding: 0 0 100px 0;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   opacity: 0.9;
   border: 1px solid white;
}

.login .hello {
   color: white;
   font-size: 30px;
   margin: 50px;
   margin-bottom: 20px;
   overflow: hidden;
}

.login .text,
.login .pass {
   margin: 20px;
}

.login .inptext,
.login .inppass {
   width: 300px !important;
}

/* .login .sbmt-holder {
   background-color: white;
} */

.login button {
   margin-top: 15px;
   padding : 5px;
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   outline: none;
   border: none;
   border-radius: 3px;
}

.login .sbmt {
   color: #2A1F60;
   font-weight: bold;
   font-size: 17px;
   border: 0 transparent none;
   display: block;
}

.login .icon {
   color: #2A1F60;
   display: block;
}


/* start navbar */

.side-navbar {
   background-color: #2A1F60;
   width: 100px;
   height: 100vh;
   width: 300px;
   transition: .3s;
   padding-left: 10px;
}
.side-navbar-nx {
   width: 85px !important;
   padding-left: 0px !important;
}
.nav-upper .side-navbar-nx {

}
button {
   background: none;
   outline: none;
   border: none;
   margin: auto;
}
.side-navbar .burger {
   cursor: pointer;
   height: 71px;
   width: 74px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-left: 21px;
}
.side-navbar .burger span {
   display: block;
   margin-top: 5px;
   background-color: white;
   height: 4.5px;
   width: 30px;
   transition: .3s;
}
.side-navbar .burger span:hover {
   color: #aa5b00 !important;
}


.burger-out span:nth-child(1) {
   width: 35px;
   transform: translate(-3px, 8px) rotate(45deg);
   margin-bottom: 5.3px;
}
.burger-out span:nth-child(2) {
   display: none;
}
.burger-out span:nth-child(3) {
   width: 35px;
   transform: translate(-3px, -8px) rotate(-45deg);
}
.nav-menu {
   grid-template-rows: repeat(7, 1fr);
	margin-top: 50px;
   margin-right: 5px;
}

.menu-item,
.logout {
   height: 57px;
   display: flex;
   text-transform: uppercase;
   margin: auto 20px;
   border-radius: 10px;
   margin-bottom: 15px;
}
.menu-item-NX {
   padding-left: 10px;
}
.menu-item .icon,
.logout-icon {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}
.menu-item svg,
.icon {
   z-index: 2;
}
.menu-item.active .icon::before {
   content: '';
   position: absolute;
   width: 5px;
   height: 82%;
   background-color: #FEB25B;
   border-radius: 5px;
   left: -28px;
}
.menu-item.active .icon::after,
.logout-icon::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: #FEB25B;
   transform: translate(-50%,-50%);
   left: 50%;
   top: 50%;
   z-index: -1;
   border-radius: 50%;
}
.menu-item p,
.logout p {
   line-height: 3;
   margin-left: 14px;
   transition: .3s;
   font-size: 15px;
   font-weight: bold;

}
.menu-item p:hover,
.logout p:hover {
   color: #aa5b00 !important;
}
.space {
   margin-top: 300px;
}
.logout-icon::after  {
   background-color: #644be3  !important;
}
.logout p {
   line-height: 3.3;
}
/* end navbar */