:root {
   --mainRed: #FF0000;
   --mainBlue: #71B4E7;
   --mainLightPurple: #D9D2FF;
   --mainGray: #BBBBBB;
   --mainPurple: #2A1F60;
}

/* classes for colors */
.text-red {
   color: var(--mainRed) !important;
}

.text-blue {
   color: var(--mainBlue) !important;
}

.text-light-purple {
   color: var(--mainLightPurple) !important;
}

.text-gray {
   color: var(--mainGray) !important;
}

.text-purple {
   color: var(--mainPurple) !important;
}

.bg-red {
   color: var(--mainRed) !important;
}

.bg-blue {
   color: var(--mainBlue) !important;
}

.bg-light-purple {
   color: var(--mainLightPurple) !important;
}

.bg-gray {
   color: var(--mainGray) !important;
}

.bg-purple {
   color: var(--mainPurple) !important;
}

.pointer {
   cursor: pointer;
}

.App {
   width: 100%;
   height: 100vh;
   text-align: center;
}

a {
   color: unset !important;
   font-style: unset !important;
   text-decoration: unset !important;
}

div.text>input {
   border: 1.5px gray solid;
   padding: 5px;
   border-radius: 50px;
   font-size: 20px;
   color: #2A1F60;
   outline: none;
   padding-right: 20px;
}

.login {
   width: 100%;
   height: 100%;
   background-color: white;
   user-select: none;
}

.login img.bg {
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed;
}

.login .middle {
   width: 30%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.login .logo {
   margin: 10px 0;
}

.login form {
   width: 75%;
   background-color: #2A1F60;
   border-radius: 15px;
   margin-top: 150px;
   padding: 0 0 100px 0;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   opacity: 0.9;
   border: 1px solid white;
}

.login .hello {
   color: white;
   font-size: 30px;
   margin: 50px;
   margin-bottom: 20px;
   overflow: hidden;
}

.login div.text {
   margin: 20px;
}

.login div.text>input {
   width: 300px !important;
}

/* .login .sbmt-holder {
   background-color: white;
} */

.login button {
   margin-top: 15px;
   padding: 5px;
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   outline: none;
   border: none;
   border-radius: 3px;
}

.login .sbmt {
   color: #2A1F60;
   font-weight: bold;
   font-size: 17px;
   border: 0 transparent none;
   display: block;
}

.login .icon {
   color: #2A1F60;
   display: block;
}


/* start navbar */

.side-navbar {
   background-color: #2A1F60;
   width: 100px;
   height: 100vh;
   width: 300px;
   transition: .3s;
   padding-left: 10px;
}

.side-navbar-nx {
   width: 85px !important;
   padding-left: 0px !important;
}

.nav-upper .side-navbar-nx {}

button {
   background: none;
   outline: none;
   border: none;
   margin: auto;
}

.side-navbar .burger {
   cursor: pointer;
   height: 71px;
   width: 74px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-left: 21px;
}

.side-navbar .burger span {
   display: block;
   margin-top: 5px;
   background-color: white;
   height: 4.5px;
   width: 30px;
   transition: .3s;
}

.side-navbar .burger span:hover {
   color: #aa5b00 !important;
}


.burger-out span:nth-child(1) {
   width: 35px;
   transform: translate(-3px, 8px) rotate(45deg);
   margin-bottom: 5.3px;
}

.burger-out span:nth-child(2) {
   display: none;
}

.burger-out span:nth-child(3) {
   width: 35px;
   transform: translate(-3px, -8px) rotate(-45deg);
}

.nav-menu {
   grid-template-rows: repeat(7, 1fr);
   margin-top: 50px;
   margin-right: 5px;
}

.menu-item,
.logout {
   height: 57px;
   display: flex;
   text-transform: uppercase;
   margin: auto 20px;
   border-radius: 10px;
   margin-bottom: 15px;
}

.menu-item-NX {
   padding-left: 10px;
}

.menu-item .icon,
.logout-icon {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

.menu-item svg,
.icon {
   z-index: 2;
}

.menu-item.active .icon::before {
   content: '';
   position: absolute;
   width: 5px;
   height: 82%;
   background-color: #FEB25B;
   border-radius: 5px;
   left: -28px;
}

.menu-item.active .icon::after,
.logout-icon::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: #FEB25B;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
   z-index: -1;
   border-radius: 50%;
}

.menu-item p,
.logout p {
   line-height: 4;
   margin-left: 14px;
   transition: .3s;
   font-size: 14px;
   font-weight: bold;

}

.menu-item p:hover,
.logout p:hover {
   color: #aa5b00 !important;
}

.space {
   margin-top: 300px;
}

.logout-icon::after {
   background-color: #644be3 !important;
}

.logout p {
   line-height: 3.3 !;
}

/* end navbar */


/* start grades and classes */
.grade {
   max-width: 1219px !important;
}

.item {
   height: fit-content;
   padding: 15px;
}

.item.active {
   background-color: var(--mainPurple);
   color: white !important;
   border-radius: 20px;
}

.add-grade-btn {
   box-shadow: rgb(128, 128, 128) 1px 1px 5px;
   width: 200px;
   height: fit-content;
   text-align: left;
   padding: 5px 0 5px 16px;
   margin-top: 42px;
}

.grade-menu {
   margin-top: 60px !important;
}

.grade-number {
   border-bottom: 3px solid var(--mainGray);
   margin-left: 100px;
}





/* start class info*/
.layer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--mainGray);
   opacity: 0.4;
}
.class-info {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   box-shadow: rgb(128, 128, 128) 1px 1px 5px;
   border-radius: 20px;
   padding: 20px;
   z-index: 10;
   width: 800px;
   z-index: 10;
}
.class-info input[type="number"],
.class-info input[type="text"] {
   text-align: center;
   outline: none;
   border: none;
   box-shadow: rgb(128, 128, 128) 1px 1px 5px;
}
.class-info input[type="number"] {
   width: 45px;
}
.class-info input[type="text"] {
   width: 200px;

}
.class-info input[type="number"]::-webkit-inner-spin-button {
   display: none;
}

/* end class info*/



/* end grades and classes */