li.headerlist {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 0.5s, color 0.5s;
   color: #061E45;
   font-family: 'Segoe UI';
   font-size: 23px;
}

li.headerlist:hover {
   background-color: grey;
   color: white;
}